*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

*::-webkit-media-controls,
*::-moz-media-controls,
*::-o-media-controls,
*::-ms-media-controls,
*::-webkit-media-controls-volume-slider,
*::-webkit-media-controls-play-button,
*::-webkit-media-controls-mute-button,
*::-webkit-media-controls-timeline,
*::-webkit-media-controls-current-time-display,
*::-webkit-media-controls-start-playback-button {
  display: none !important;
}

.delay-200ms {
  animation-delay: .2s;
}

.delay-400ms {
  animation-delay: .4s;
}

.sidenav-overlay {
  z-index: 996;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Thin';
  src: url("fonts/HelveticaNeueCyr-Thin.eot");
  src: url("fonts/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Thin.woff") format("woff"), url("fonts/HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Light';
  src: url("fonts/HelveticaNeueCyr-Light.eot");
  src: url("fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Roman';
  src: url("fonts/HelveticaNeueCyr-Roman.eot");
  src: url("fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Medium';
  src: url("fonts/HelveticaNeueCyr-Medium.eot");
  src: url("fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Bold';
  src: url("fonts/HelveticaNeueCyr-Bold.eot");
  src: url("fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minion Pro Medium';
  src: url("fonts/MinionPro-Medium.eot");
  src: url("fonts/MinionPro-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/MinionPro-Regular.woff") format("woff"), url("fonts/MinionPro-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Bold';
  src: url("fonts/Arial-BoldMT.eot");
  src: url("fonts/Arial-BoldMT.eot?#iefix") format("embedded-opentype"), url("fonts/Arial-BoldMT.woff") format("woff"), url("fonts/Arial-BoldMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 15px;
}

* {
  color: black;
}

body {
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
      flex-direction: column;
}

main {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.header {
  height: 73px;
  background-color: #fff;
  box-shadow: none;
}

.header__brand-logo {
  height: 44px;
  width: 170px;
  margin-top: 10px;
  padding-left: 38px !important;
  background-image: url("../img/Grymala.png");
  background-repeat: no-repeat;
  background-position: left 15px;
  background-size: 29px;
  font-family: 'Minion Pro Medium';
  font-size: 25px !important;
  letter-spacing: 2.3px;
  color: #000 !important;
}

.header__item {
  margin: 0 10px;
  padding: 5px 10px 0;
  font-family: 'Helvetica Neue Cyr Light';
  font-size: 24px;
  color: black;
  transition: .3s;
}

.index__title {
  margin-bottom: 30px;
  font-family: 'Helvetica Neue Cyr Bold';
  font-size: 44px;
  text-align: center;
}

.index__title_opacity-0 {
  opacity: 0;
}

nav i, nav [class^='mdi-'], nav [class*='mdi-'], nav i.material-icons {
  font-size: 30px !important;
}

/*about-us-block*/
.about-us-block {
  padding-bottom: 72px;
}

.passion,
.experience,
.knowledge {
  padding: 0 20px;
}

.about-us-block__video {
  height: 108px;
  margin-bottom: 20px;
}

.about-us-block__btn {
  height: 43px !important;
  line-height: 46px !important;
  width: 211px;
  border-radius: 5px !important;
  font-family: 'Helvetica Neue Cyr Medium';
  font-size: 22px !important;
  text-transform: none !important;
  opacity: 0;
}

.passion__btn {
  background: linear-gradient(270deg, #05c6c0, #03e58e);
}

.experience__btn {
  background: linear-gradient(270deg, #875bfe, #4f9efd);
}

.knowledge__btn {
  background: linear-gradient(270deg, #ff8d81, #ffc784);
}

.about-us-block__info {
  line-height: 19px;
  margin-top: 18px;
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 13px;
  opacity: 0;
}

/*our-expertise-block*/
.our-expertise-block {
  padding: 24px 0 40px;
  background-color: #eee;
  overflow: hidden;
}

.our-expertise-block__img {
  height: 140px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  opacity: 0;
}

.augmented-reality__img {
  margin-top: 34px;
  background-image: url("../img/Augmented_Reality@1X.png");
}

.image-processing__img {
  background-image: url("../img/Image_processing@1X.png");
}

.custom-design__img {
  background-image: url("../img/Custom_design@1X.png");
}

.neural-networks__img {
  margin-top: 30px;
  background-image: url("../img/Neural_networks@1X.png");
}

.complex-algorithms__img {
  background-image: url("../img/Complex_algorithms@1X.png");
}

.native-development__img {
  background-image: url("../img/Native_development@1X.png");
}

.our-expertise-block__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Helvetica Neue Cyr Light';
  font-size: 22px;
  opacity: 0;
}

.our-expertise-block__info {
  margin-top: 8px;
  line-height: 15px;
  font-family: 'Helvetica Neue Cyr Light';
  font-size: 14px;
  opacity: 0;
}

.index-video-block {
  position: relative;
  height: 570px;
}

.index-video-block__video {
  position: absolute;
  border-radius: 20px;
  width: 270px;
  left: 50%;
  top: 48%;
  transform: translate3d(-50%, -50%, 0);
}

.index-video-block__frame {
  position: absolute;
  width: 320px;
  height: 565px;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.index-video-block__button-play {
  position: absolute;
  padding: 0;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  border: none;
  border-radius: 50%;
  background-color: rgba(200, 200, 200, 0.75);
  z-index: 3;
  cursor: pointer;
}

.index-video-block__button-play:focus {
  background-color: rgba(200, 200, 200, 0.75);
}

.index-video-block__button-play:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 65%;
  border: 12px solid transparent;
  border-left: 16px solid rgba(255, 255, 255, 0.8);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

/*contacts-block*/
.contacts-block {
  padding: 0 0 100px;
}

.contacts-block__title {
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 20px;
}

.contacts-block__label {
  width: 101px !important;
  font-family: 'Helvetica Neue Cyr Light';
  font-size: 20px;
  color: black;
}

.contacts-block__input-block {
  width: calc(100% - 101px) !important;
}

.contacts-block__input,
.contacts-block__textarea {
  padding-left: 10px !important;
  background-color: #f0f0f0 !important;
  border: 1px solid #eee !important;
  border-radius: 5px !important;
}

.contacts-block__input:focus,
.contacts-block__textarea:focus {
  box-shadow: 0 0 5px 1px #3b95ff !important;
  outline: none;
}

.contacts-block__input {
  height: 35px !important;
  width: calc(100% - 12px) !important;
  margin-bottom: 4px !important;
}

.contacts-block__textarea {
  height: auto;
  resize: none;
}

.contacts-block__btn {
  float: right;
  height: 28px !important;
  line-height: 32px !important;
  margin: 3px 9px 0 0;
  padding: 0 23px !important;
  background-color: #45d1ff !important;
  border-radius: 7px !important;
  font-family: 'Helvetica Neue Cyr Light';
  box-shadow: none !important;
}

.contacts-block__img {
  margin-bottom: 10px;
}

.contacts-block__row {
  margin-bottom: 0 !important;
}

.contacts-block__col3_width {
  width: 70px !important;
}

.contacts-block__info {
  margin: 0;
  font-family: 'Helvetica Neue Cyr Light';
}

.contacts-block__info_bold {
  margin: 0;
  font-family: 'Helvetica Neue Cyr Medium';
}

/*footer*/
.footer-block {
  background-color: #000 !important;
  font-size: 18px;
}

.footer-block__logo {
  display: inline-block;
  height: 33px;
  width: 203px;
  padding-left: 38px !important;
  background-image: url("../img/Grymala-footer.png");
  background-repeat: no-repeat;
  background-position: left 3px;
  background-size: 29px;
  font-family: 'Minion Pro Medium';
  font-size: 25px !important;
  letter-spacing: 2.3px;
  color: #fff;
}

.footer-block__border {
  border-right: 1px solid #4a4a4a;
}

.footer-block__item {
  font-family: 'Helvetica Neue Cyr Light';
}

.footer-copyright__text {
  margin-top: 0;
  font-family: 'Helvetica Neue Cyr Thin';
  color: #4a4a4a !important;
}

/* policy */
.policy {
  border-radius: 20px;
  box-shadow: 0 0 31px 1px rgba(0, 0, 0, 0.07);
}

.policy__title {
  margin-top: 0;
  font-family: 'Helvetica Neue Cyr Medium';
  font-size: 33px;
}

.policy__btn {
  padding: 2px 16px 0 !important;
  background-color: #fff !important;
  border: 1px solid black !important;
  border-radius: 7px !important;
  box-shadow: none !important;
  font-family: 'Helvetica Neue Cyr Medium';
  font-size: 14px !important;
  color: black !important;
}

.policy__text {
  font-family: 'Helvetica Neue Cyr Medium';
}

.policy__title-text {
  display: inline-block;
  margin: 20px 0 0;
  border-bottom: 1px solid black;
  font-family: 'Helvetica Neue Cyr Bold';
  font-size: 20px;
}

.video-retina-block {
  display: none;
}

.swiper-container {
  opacity: 0;
  padding: 25px 0;
}

.swiper-container.swiper-container-scale {
  opacity: 1;
}

.swiper-wrapper {
  transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
}

.swiper-slide {
  width: 350px;
  position: relative;
  overflow: hidden;
  font-size: 22px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  outline: none;
}

.carousel__video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 118.181818%;
  background-color: #000;
}

.carousel__item-video {
  display: none;
  position: relative;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.carousel__poster-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 1s ease;
}

.carousel__item-poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.carousel__item-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 35%;
  height: auto;
  z-index: 2;
  border-radius: 30px;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.4);
}

.carousel__poster-wrapper_hide {
  opacity: 0;
}

.carousel-item__content {
  position: relative;
}

.carousel-item__content:before {
  content: '';
  position: absolute;
  top: -29px;
  left: 0;
  background-image: url(../img/wave.svg);
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 100%;
  background-size: contain;
  z-index: 999;
}

.carousel__button-play {
  position: absolute;
  padding: 0;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  border: none;
  border-radius: 50%;
  background-color: rgba(200, 200, 200, 0.75);
  z-index: 3;
  cursor: pointer;
}

.carousel__button-play:focus {
  background-color: rgba(200, 200, 200, 0.75);
}

.carousel__button-play:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 65%;
  border: 12px solid transparent;
  border-left: 16px solid rgba(255, 255, 255, 0.8);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

.carousel__button-play_hide {
  display: none;
}

.carousel__item-name {
  text-align: center;
  margin: 0 0 10px 0;
  font-family: 'Arial Bold';
  font-size: 25px;
}

.carousel__item-description {
  font-family: 'Helvetica Neue Cyr Roman';
  font-size: 15px;
  text-indent: 15px;
  padding: 0 10px;
}

.carousel__divider {
  margin: 0 15px;
}

.carousel__download {
  margin: 10px 0 5px;
  font-family: 'Helvetica Neue Cyr Light';
  font-size: 20px;
}

.carousel__soc-link {
  display: inline-block;
  height: 35px;
  width: 120px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.carousel__soc-link-1 {
  background-image: url("../img/get_it_on_google_play.png");
}

.carousel__soc-link-2 {
  background-image: url("../img/download_on_the_app_store.png");
}

.slick-track {
  padding: 80px 0;
}

.slick-current {
  -ms-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2);
  z-index: 3;
}

@media (min-width: 993px) {
  nav .header-mobile__sidenav-trigger {
    display: none;
  }
  .header__container {
    width: 57% !important;
  }
  #nav-menu li {
    position: relative;
  }
  .header__item {
    position: relative;
  }
  .header__item:hover {
    background-color: transparent;
  }
  .header__item ~ .nav-underline {
    display: none;
  }
  .header__item.active ~ .nav-underline {
    display: block;
  }
  .nav-underline {
    position: absolute;
    height: 5px;
    background: #000;
    transition: width 0.3s ease;
  }
  .slick-slider {
    padding: 50px 0 300px;
  }
  .contacts-block__col {
    padding-right: 30px !important;
  }
  .contacts-block__col:last-child {
    padding-left: 40px !important;
    border-left: 1px solid #eee;
  }
  .contacts-block__title {
    margin: 33px 0 38px 66px;
  }
  .contacts-block__divider {
    display: none;
  }
  .footer-block__logo {
    margin-top: 24px;
  }
  .footer-block__first {
    width: 200px !important;
  }
  .footer-block__second {
    width: 270px !important;
    padding-left: 100px !important;
  }
  .policy {
    margin-top: 50px !important;
    margin-bottom: 60px !important;
    padding: 80px 109px 60px;
  }
  .policy__btn {
    float: right;
  }
  .policy__title-text {
    padding: 0 80px 10px 0;
  }
}

@media (max-width: 992px) {
  nav.header .header-mobile__sidenav-trigger {
    float: right !important;
    margin: 8px 0 !important;
    background-color: #fff;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 70px;
    height: 46px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    /* when menu open: */
  }
  nav.header .header-mobile__sidenav-trigger:focus {
    outline: none;
    background-color: #fff;
  }
  nav.header .header-mobile__sidenav-trigger span {
    display: block;
    position: absolute;
    top: 24px;
    left: 18px;
    right: 18px;
    height: 1px;
    background: #000;
    transition: transform 0.3s;
  }
  nav.header .header-mobile__sidenav-trigger span::before, nav.header .header-mobile__sidenav-trigger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    content: "";
  }
  nav.header .header-mobile__sidenav-trigger span::before {
    top: -6px;
    -ms-transform-origin: bottom left;
        transform-origin: bottom left;
    transition: transform 0.3s, width 0.3s, top 0.3s;
  }
  nav.header .header-mobile__sidenav-trigger span::after {
    bottom: -6px;
    -ms-transform-origin: top left;
        transform-origin: top left;
    transition: transform 0.3s, width 0.3s, bottom 0.3s;
  }
  nav.header .header-mobile__sidenav-trigger.is-active span {
    -ms-transform: rotate(180deg);
        transform: rotate(180deg);
  }
  nav.header .header-mobile__sidenav-trigger.is-active span::before, nav.header .header-mobile__sidenav-trigger.is-active span::after {
    width: 50%;
  }
  nav.header .header-mobile__sidenav-trigger.is-active span::before {
    top: 0;
    -ms-transform: translateX(0) translateY(0) rotate(40deg);
        transform: translateX(0) translateY(0) rotate(40deg);
  }
  nav.header .header-mobile__sidenav-trigger.is-active span:after {
    bottom: 0;
    -ms-transform: translateX(0) translateY(0) rotate(-40deg);
        transform: translateX(0) translateY(0) rotate(-40deg);
  }
  .header-mobile__sidenav {
    height: 210px;
    width: 100%;
    margin-top: 73px;
    padding-bottom: 0;
    box-shadow: none;
  }
  .sidenav-overlay {
    top: 73px;
  }
  .header-mobile__sidenav .header__item {
    height: 37px;
    font-size: 18px;
  }
  .contacts-block__col {
    padding: 0 !important;
  }
  .contacts-block__title {
    margin: 33px 0 38px;
    text-align: center;
  }
  .contacts-block__divider {
    margin: 30px;
  }
  .contacts-block__img {
    height: auto;
    width: 100%;
  }
  .contacts-block__row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .footer-block__logo_text-align {
    text-align: center;
  }
  .footer-block__border {
    padding-left: calc(100% - 95px) !important;
  }
  .policy {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding: 15px;
  }
  .policy__mobile_padding {
    padding: 0 12px;
  }
  .policy__title-text {
    padding: 0 0 10px 0;
  }
  .carousel__soc-link-1 {
    background-image: url("../img/google_play-mobile.png");
  }
  .carousel__soc-link-2 {
    background-image: url("../img/app_store-mobile.png");
  }
}

@media (max-width: 600px) {
  .container {
    width: 96% !important;
  }
  .header__brand-logo {
    background-position: left 10px;
  }
  .footer-block__logo {
    padding-left: 15px !important;
  }
}

@media (max-width: 479px) {
  .swiper-slide {
    width: 250px;
  }
  .carousel-item__content:before {
    top: -22px;
  }
  .carousel__item-name {
    font-size: 20px;
  }
  .carousel__item-description {
    font-size: 12px;
  }
  .carousel__download {
    font-size: 15px;
  }
  .carousel__soc-link {
    width: 100px;
    height: 30px;
  }
  .carousel__item-icon {
    border-radius: 20px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .video-no-retina-block {
    display: none;
  }
  .video-retina-block {
    display: inline-block;
  }
  .augmented-reality__img {
    background-image: url("../img/Augmented_Reality@2x.png");
  }
  .image-processing__img {
    background-image: url("../img/Image_processing@2x.png");
  }
  .custom-design__img {
    background-image: url("../img/Custom_design@2x.png");
  }
  .neural-networks__img {
    background-image: url("../img/Neural_networks@2x.png");
  }
  .complex-algorithms__img {
    background-image: url("../img/Complex_algorithms@2x.png");
  }
  .native-development__img {
    background-image: url("../img/Native_development@2x.png");
  }
}
